<!DOCTYPE html>
<html style="background-image: url('/static/sl_031821_41530_20.jpg');
             background-size: cover">
        <link rel="stylesheet" href="{{ url_for('static', filename='weather.css') }}"/>
<head>
    <title>Weather Forecast</title>
</head>
<body>
        <h1>Weather Forecast for {{ country }}  {{ city }}  {{ capital }}</h1>
        <table>
            {% for item in forecast %}
                <tr>
                     <th>{{ item.date }}, </th>
                     <th>Temperature: {{ item.temperature }}°C, </th>
                     <th>Humidity: {{ item.humidity }}%</th>
                </tr>
            {% endfor %}
        </table>
        <form method="POST" action="/weather">
                    <h2 class="dynamic-message" style="text-align: center">{{msg}}</h2>
                    <input type="text" name="city" placeholder="Enter the city name">
                    <button type="submit">Submit</button>
        </form>
</body>
<form action="/dynamo" method = "POST" >
            <h4 style="color:white"><input type = "hidden" name = "city" value = {{city}} />
                <input type = "hidden" name = "data" value = '{{forecast}}' /><input type = "hidden" name = "country" value = {{country}} />
                <input type = "submit" value = "Submit" /></h4>
</form>
</html>
